In [45]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

from pyspark.sql.types import StructType, StructField, IntegerType
from pyspark.sql.types import Row, StringType, FloatType

from pyspark.sql import SQLContext

In [46]:
# Iniciar Sesion de Spark

spark = SparkContext(master='local', appName='DataFrames')
sqlContext = SQLContext(spark)

In [47]:
!ls files/

deporte.csv	 deportistaError.csv  modelo_relacional.jpg
deportista2.csv  evento.csv	      paises.csv
deportista.csv	 juegos.csv	      resultados.csv

In [48]:
!head -n 5 files/juegos.csv

,nombre_juego,annio,temporada,ciudad
1,1896 Verano,1896,Verano,Athina
2,1900 Verano,1900,Verano,Paris
3,1904 Verano,1904,Verano,St. Louis
4,1906 Verano,1906,Verano,Athina

In [49]:
# Crear el schema en el cual se alojaran los datos

games_schema = StructType([
    StructField('game_id', IntegerType(),False),
    StructField('year', StringType(), False),
    StructField('season', StringType(), False),
    StructField('city',StringType(),False),
])

In [50]:
# Generar DataFrame apartir del archivo y el schema creado

games_DF = sqlContext.read.schema(games_schema)\
    .option("header", "true").csv("files/juegos.csv")

In [51]:
games_DF.show(4)

+-------+-----------+------+------+
|game_id|       year|season|  city|
+-------+-----------+------+------+
|      1|1896 Verano|  1896|Verano|
|      2|1900 Verano|  1900|Verano|
|      3|1904 Verano|  1904|Verano|
|      4|1906 Verano|  1906|Verano|
+-------+-----------+------+------+
only showing top 4 rows

In [52]:
spark

# Crear DF apartir de un RDD

In [54]:
olympic_athlete_RDD = spark.textFile("files/deportista.csv") \
    .map(lambda l: l.split(','))
olympic_athlete2_RDD = spark.textFile("files/deportista2.csv") \
    .map(lambda l : l.split(','))

In [55]:
olympic_athlete_RDD = olympic_athlete_RDD \
    .union(olympic_athlete2_RDD)

In [56]:
olympic_athlete_RDD.take(5)

[['deportista_id', 'nombre', 'genero', 'edad', 'altura', 'peso', 'equipo_id'],
 ['1', 'A Dijiang', '1', '24', '180', '80', '199'],
 ['2', 'A Lamusi', '1', '23', '170', '60', '199'],
 ['3', 'Gunnar Nielsen Aaby', '1', '24', '0', '0', '273'],
 ['4', 'Edgar Lindenau Aabye', '1', '34', '0', '0', '278']]

In [57]:
def remove_header(index, iterator):
    return iter(list(iterator)[1:])

In [58]:
olympic_athlete_RDD = olympic_athlete_RDD.mapPartitionsWithIndex(remove_header)

In [59]:
olympic_athlete_RDD.take(5)

[['1', 'A Dijiang', '1', '24', '180', '80', '199'],
 ['2', 'A Lamusi', '1', '23', '170', '60', '199'],
 ['3', 'Gunnar Nielsen Aaby', '1', '24', '0', '0', '273'],
 ['4', 'Edgar Lindenau Aabye', '1', '34', '0', '0', '278'],
 ['5', 'Christine Jacoba Aaftink', '2', '21', '185', '82', '705']]

In [60]:
olympic_athlete_RDD = olympic_athlete_RDD.map(lambda l: (
    int(l[0]),
    l[1],
    int(l[2]),
    int(l[3]),
    int(l[4]),
    float(l[5]),
    int(l[6])
))

In [61]:
schema = StructType([
    StructField("athlete_id", IntegerType(),False),
    StructField("name", StringType(), False),
    StructField("gender", IntegerType(), False),
    StructField("age", IntegerType(), False),
    StructField("height", IntegerType(), False),
    StructField("weight", FloatType(), False),
    StructField("team_id", IntegerType(), False)
])

athlete_DF = sqlContext.createDataFrame(olympic_athlete_RDD, schema)
athlete_DF.show(5)

+----------+--------------------+------+---+------+------+-------+
|athlete_id|                name|gender|age|height|weight|team_id|
+----------+--------------------+------+---+------+------+-------+
|         1|           A Dijiang|     1| 24|   180|  80.0|    199|
|         2|            A Lamusi|     1| 23|   170|  60.0|    199|
|         3| Gunnar Nielsen Aaby|     1| 24|     0|   0.0|    273|
|         4|Edgar Lindenau Aabye|     1| 34|     0|   0.0|    278|
|         5|Christine Jacoba ...|     2| 21|   185|  82.0|    705|
+----------+--------------------+------+---+------+------+-------+
only showing top 5 rows

# Creando DataFrames apartir de archivos CSV

In [62]:
schema_teams = StructType([
    StructField("team_id", IntegerType(),False),
    StructField("team_name", StringType(), False),
    StructField("country", StringType(), False)
])

teams_DF = sqlContext.read.schema(schema_teams)\
    .option("header", "true").csv("files/paises.csv")

teams_DF.show(5)

+-------+--------------------+-------+
|team_id|           team_name|country|
+-------+--------------------+-------+
|      1|         30. Februar|    AUT|
|      2|A North American ...|    MEX|
|      3|           Acipactli|    MEX|
|      4|             Acturus|    ARG|
|      5|         Afghanistan|    AFG|
+-------+--------------------+-------+
only showing top 5 rows

In [102]:
schema_medals = StructType([
    StructField("result_id", IntegerType(),False),
    StructField("medal", StringType(), False),
    StructField("athlete_id", IntegerType(), False),
    StructField("game_id", IntegerType(), False),
    StructField("event_id", IntegerType(), False),
])

medals_DF = sqlContext.read.schema(schema_medals)\
    .option("header", "true").csv("files/resultados.csv")

medals_DF.show(5)

+---------+-----+----------+-------+--------+
|result_id|medal|athlete_id|game_id|event_id|
+---------+-----+----------+-------+--------+
|        1|   NA|         1|     39|       1|
|        2|   NA|         2|     49|       2|
|        3|   NA|         3|      7|       3|
|        4| Gold|         4|      2|       4|
|        5|   NA|         5|     36|       5|
+---------+-----+----------+-------+--------+
only showing top 5 rows

In [64]:
schema_sports = StructType([
    StructField("sport_id", IntegerType(),False),
    StructField("sport", StringType(), False),
])

sports_DF = sqlContext.read.schema(schema_sports)\
    .option("header", "true").csv("files/deporte.csv")

sports_DF.show(5)

+--------+-------------+
|sport_id|        sport|
+--------+-------------+
|       1|   Basketball|
|       2|         Judo|
|       3|     Football|
|       4|   Tug-Of-War|
|       5|Speed Skating|
+--------+-------------+
only showing top 5 rows

In [65]:
schema_events = StructType([
    StructField("event_id", IntegerType(),False),
    StructField("event_name", StringType(), False),
    StructField("sport_id", IntegerType(), False)
])

events_DF = sqlContext.read.schema(schema_events)\
    .option("header", "true").csv("files/evento.csv")

events_DF.show(5)

+--------+--------------------+--------+
|event_id|          event_name|sport_id|
+--------+--------------------+--------+
|       1|Basketball Men's ...|       1|
|       2|Judo Men's Extra-...|       2|
|       3|Football Men's Fo...|       3|
|       4|Tug-Of-War Men's ...|       4|
|       5|Speed Skating Wom...|       5|
+--------+--------------------+--------+
only showing top 5 rows

In [89]:
schema_games = StructType([
    StructField("game_id", IntegerType(),False),
    StructField("year-season", StringType(), False),
    StructField("year", StringType(), False),
    StructField("season", StringType(), False),
    StructField("city", StringType(), False),
])

games_DF = sqlContext.read.schema(schema_games)\
    .option("header", "true").csv("files/juegos.csv")

games_DF.show(5)
games_DF.take(3)

+-------+-----------+----+------+---------+
|game_id|year-season|year|season|     city|
+-------+-----------+----+------+---------+
|      1|1896 Verano|1896|Verano|   Athina|
|      2|1900 Verano|1900|Verano|    Paris|
|      3|1904 Verano|1904|Verano|St. Louis|
|      4|1906 Verano|1906|Verano|   Athina|
|      5|1908 Verano|1908|Verano|   London|
+-------+-----------+----+------+---------+
only showing top 5 rows

[Row(game_id=1, year-season='1896 Verano', year='1896', season='Verano', city='Athina'),
 Row(game_id=2, year-season='1900 Verano', year='1900', season='Verano', city='Paris'),
 Row(game_id=3, year-season='1904 Verano', year='1904', season='Verano', city='St. Louis')]

# Imprimir el Schema nos permite visualizar de forma general la estructura del DataFrame

In [67]:
sports_DF.printSchema()

root
 |-- sport_id: integer (nullable = true)
 |-- sport: string (nullable = true)

In [68]:
athlete_DF.printSchema()

root
 |-- athlete_id: integer (nullable = false)
 |-- name: string (nullable = false)
 |-- gender: integer (nullable = false)
 |-- age: integer (nullable = false)
 |-- height: integer (nullable = false)
 |-- weight: float (nullable = false)
 |-- team_id: integer (nullable = false)

In [69]:
athlete_DF = athlete_DF.withColumnRenamed('gender','sex').drop('height')

athlete_DF.printSchema()

root
 |-- athlete_id: integer (nullable = false)
 |-- name: string (nullable = false)
 |-- sex: integer (nullable = false)
 |-- age: integer (nullable = false)
 |-- weight: float (nullable = false)
 |-- team_id: integer (nullable = false)

# Existen diferentes funciones de pyspark que nos permiten realizar operaciones con los DataFrames

In [70]:
from pyspark.sql.functions import *

In [71]:
athlete_DF = athlete_DF\
    .select("athlete_id", "name", col("age").alias("age_in_competition"), "team_id")

In [72]:
athlete_DF.show(5)

+----------+--------------------+------------------+-------+
|athlete_id|                name|age_in_competition|team_id|
+----------+--------------------+------------------+-------+
|         1|           A Dijiang|                24|    199|
|         2|            A Lamusi|                23|    199|
|         3| Gunnar Nielsen Aaby|                24|    273|
|         4|Edgar Lindenau Aabye|                34|    278|
|         5|Christine Jacoba ...|                21|    705|
+----------+--------------------+------------------+-------+
only showing top 5 rows

### Filtrar DF con las condiciones que pongamos

In [73]:
athlete_DF = athlete_DF.filter((athlete_DF.age_in_competition != 0))

In [74]:
athlete_DF.sort("age_in_competition").show(5)

+----------+--------------------+------------------+-------+
|athlete_id|                name|age_in_competition|team_id|
+----------+--------------------+------------------+-------+
|     71691|  Dimitrios Loundras|                10|    333|
|     52070|        Etsuko Inada|                11|    514|
|     40129|    Luigina Giavotti|                11|    507|
|     37333|Carlos Bienvenido...|                11|    982|
|     47618|Sonja Henie Toppi...|                11|    742|
+----------+--------------------+------------------+-------+
only showing top 5 rows

# Agrupaciones y operaciones Joins sobre DF

In [104]:
teams_DF.printSchema()

root
 |-- team_id: integer (nullable = true)
 |-- team_name: string (nullable = true)
 |-- country: string (nullable = true)

In [75]:
athlete_DF.printSchema()

root
 |-- athlete_id: integer (nullable = false)
 |-- name: string (nullable = false)
 |-- age_in_competition: integer (nullable = false)
 |-- team_id: integer (nullable = false)

In [76]:
medals_DF.printSchema()

root
 |-- result_id: integer (nullable = true)
 |-- medal: string (nullable = true)
 |-- athlete_id: integer (nullable = true)
 |-- game_id: integer (nullable = true)
 |-- event_id: integer (nullable = true)

In [88]:
games_DF.printSchema()

root
 |-- game_id: integer (nullable = true)
 |-- year-season: string (nullable = true)
 |-- year: string (nullable = true)
 |-- season: string (nullable = true)
 |-- city: string (nullable = true)

In [78]:
sports_DF.printSchema()

root
 |-- sport_id: integer (nullable = true)
 |-- sport: string (nullable = true)

In [79]:
events_DF.printSchema()

root
 |-- event_id: integer (nullable = true)
 |-- event_name: string (nullable = true)
 |-- sport_id: integer (nullable = true)

In [98]:
athlete_DF.join(medals_DF, athlete_DF.athlete_id == medals_DF.athlete_id,"left")\
    .join(games_DF, games_DF.game_id == medals_DF.game_id,"left")\
    .join(events_DF, events_DF.event_id == medals_DF.event_id,"left")\
    .select(athlete_DF.name, athlete_DF.age_in_competition, medals_DF.medal, 
            col('year').alias("competition_year"), events_DF.event_name).show()

+--------------------+------------------+-----+----------------+--------------------+
|                name|age_in_competition|medal|competition_year|          event_name|
+--------------------+------------------+-----+----------------+--------------------+
|           A Dijiang|                24|   NA|            1992|Basketball Men's ...|
|            A Lamusi|                23|   NA|            2012|Judo Men's Extra-...|
| Gunnar Nielsen Aaby|                24|   NA|            1920|Football Men's Fo...|
|Edgar Lindenau Aabye|                34| Gold|            1900|Tug-Of-War Men's ...|
|Christine Jacoba ...|                21|   NA|            1994|Speed Skating Wom...|
|Christine Jacoba ...|                21|   NA|            1994|Speed Skating Wom...|
|Christine Jacoba ...|                21|   NA|            1992|Speed Skating Wom...|
|Christine Jacoba ...|                21|   NA|            1992|Speed Skating Wom...|
|Christine Jacoba ...|                21|   NA|            1988|Speed Skating Wom...|
|Christine Jacoba ...|                21|   NA|            1988|Speed Skating Wom...|
|     Per Knut Aaland|                31|   NA|            1994|Cross Country Ski...|
|     Per Knut Aaland|                31|   NA|            1994|Cross Country Ski...|
|     Per Knut Aaland|                31|   NA|            1994|Cross Country Ski...|
|     Per Knut Aaland|                31|   NA|            1994|Cross Country Ski...|
|     Per Knut Aaland|                31|   NA|            1992|Cross Country Ski...|
|     Per Knut Aaland|                31|   NA|            1992|Cross Country Ski...|
|     Per Knut Aaland|                31|   NA|            1992|Cross Country Ski...|
|     Per Knut Aaland|                31|   NA|            1992|Cross Country Ski...|
|        John Aalberg|                31|   NA|            1994|Cross Country Ski...|
|        John Aalberg|                31|   NA|            1994|Cross Country Ski...|
+--------------------+------------------+-----+----------------+--------------------+
only showing top 20 rows

# Ejercicio, DF con las medallas ganadoras, pais y equipo

### DataFrame de las filtrado de las medallas ganadoras

In [111]:
medals_winned = medals_DF.filter(medals_DF.medal != "NA")
medals_winned.show()

+---------+------+----------+-------+--------+
|result_id| medal|athlete_id|game_id|event_id|
+---------+------+----------+-------+--------+
|        4|  Gold|         4|      2|       4|
|       38|Bronze|        15|      7|      19|
|       39|Bronze|        15|      7|      20|
|       41|Bronze|        16|     50|      14|
|       42|Bronze|        17|     17|      21|
|       43|  Gold|        17|     17|      22|
|       45|  Gold|        17|     17|      24|
|       49|  Gold|        17|     17|      28|
|       51|Bronze|        17|     19|      22|
|       61|  Gold|        20|     38|      32|
|       62|Bronze|        20|     38|      33|
|       64|Silver|        20|     40|      31|
|       65|Bronze|        20|     40|      32|
|       68|Silver|        20|     40|      35|
|       74|  Gold|        20|     44|      32|
|       77|  Gold|        20|     44|      35|
|       79|  Gold|        20|     46|      32|
|       80|  Gold|        21|     47|      36|
|       87|Silver|        25|      7|      41|
|       92|Bronze|        29|     37|      45|
+---------+------+----------+-------+--------+
only showing top 20 rows

### Join Entre DF medallas ganadas, paises y equipos

In [116]:
medal_team_counrty = teams_DF.join(athlete_DF, teams_DF.team_id == athlete_DF.team_id, "left")\
    .join(medals_winned, athlete_DF.athlete_id == medals_winned.athlete_id, "left")\
    .select(medals_winned.medal, teams_DF.team_name, teams_DF.country)

In [117]:
medal_team_counrty.filter(medal_team_counrty.medal != "NA").show()

+------+--------------+-------+
| medal|     team_name|country|
+------+--------------+-------+
|  Gold|Denmark/Sweden|    SWE|
|Bronze|       Finland|    FIN|
|Bronze|       Finland|    FIN|
|Bronze|       Finland|    FIN|
|Bronze|       Finland|    FIN|
|  Gold|       Finland|    FIN|
|  Gold|       Finland|    FIN|
|  Gold|       Finland|    FIN|
|Bronze|       Finland|    FIN|
|  Gold|        Norway|    NOR|
|  Gold|        Norway|    NOR|
|  Gold|        Norway|    NOR|
|Silver|        Norway|    NOR|
|Bronze|        Norway|    NOR|
|Silver|        Norway|    NOR|
|Bronze|        Norway|    NOR|
|  Gold|        Norway|    NOR|
|  Gold|        Norway|    NOR|
|Silver|        Norway|    NOR|
|Bronze|   Netherlands|    NED|
+------+--------------+-------+
only showing top 20 rows

## Funciones de agrupacion

In [120]:
winner_per_year = athlete_DF\
    .join(medals_DF, athlete_DF.athlete_id == medals_DF.athlete_id, "left")\
    .join(games_DF, games_DF.game_id == medals_DF.game_id,"left")\
    .join(teams_DF, athlete_DF.team_id == teams_DF.team_id, "left")\
    .join(events_DF, events_DF.event_id == medals_DF.event_id,"left")\
    .join(sports_DF, events_DF.sport_id == sports_DF.sport_id, "left")\
    .select(teams_DF.country, games_DF.year, medals_DF.medal,
           events_DF.event_name, sports_DF.sport, athlete_DF.name)

In [121]:
winner_per_year.show()

+-------+----+-----+--------------------+--------------------+--------------------+
|country|year|medal|          event_name|               sport|                name|
+-------+----+-----+--------------------+--------------------+--------------------+
|    CHN|1992|   NA|Basketball Men's ...|          Basketball|           A Dijiang|
|    CHN|2012|   NA|Judo Men's Extra-...|                Judo|            A Lamusi|
|    DEN|1920|   NA|Football Men's Fo...|            Football| Gunnar Nielsen Aaby|
|    SWE|1900| Gold|Tug-Of-War Men's ...|          Tug-Of-War|Edgar Lindenau Aabye|
|    NED|1994|   NA|Speed Skating Wom...|       Speed Skating|Christine Jacoba ...|
|    NED|1994|   NA|Speed Skating Wom...|       Speed Skating|Christine Jacoba ...|
|    NED|1992|   NA|Speed Skating Wom...|       Speed Skating|Christine Jacoba ...|
|    NED|1992|   NA|Speed Skating Wom...|       Speed Skating|Christine Jacoba ...|
|    NED|1988|   NA|Speed Skating Wom...|       Speed Skating|Christine Jacoba ...|
|    NED|1988|   NA|Speed Skating Wom...|       Speed Skating|Christine Jacoba ...|
|    USA|1994|   NA|Cross Country Ski...|Cross Country Skiing|     Per Knut Aaland|
|    USA|1994|   NA|Cross Country Ski...|Cross Country Skiing|     Per Knut Aaland|
|    USA|1994|   NA|Cross Country Ski...|Cross Country Skiing|     Per Knut Aaland|
|    USA|1994|   NA|Cross Country Ski...|Cross Country Skiing|     Per Knut Aaland|
|    USA|1992|   NA|Cross Country Ski...|Cross Country Skiing|     Per Knut Aaland|
|    USA|1992|   NA|Cross Country Ski...|Cross Country Skiing|     Per Knut Aaland|
|    USA|1992|   NA|Cross Country Ski...|Cross Country Skiing|     Per Knut Aaland|
|    USA|1992|   NA|Cross Country Ski...|Cross Country Skiing|     Per Knut Aaland|
|    USA|1994|   NA|Cross Country Ski...|Cross Country Skiing|        John Aalberg|
|    USA|1994|   NA|Cross Country Ski...|Cross Country Skiing|        John Aalberg|
+-------+----+-----+--------------------+--------------------+--------------------+
only showing top 20 rows

In [125]:
medal_country_per_year = winner_per_year.filter(winner_per_year.medal != "NA")\
    .sort("year")\
    .groupBy("country","year","event_name")\
    .count()

In [126]:
medal_country_per_year.printSchema()

root
 |-- country: string (nullable = true)
 |-- year: string (nullable = true)
 |-- event_name: string (nullable = true)
 |-- count: long (nullable = false)

In [129]:
medal_country_per_year.groupBy('country', 'year')\
    .agg(sum('count').alias("total_medals"),avg("count").alias("medals_mean")).show()

+-------+----+------------+------------------+
|country|year|total_medals|       medals_mean|
+-------+----+------------+------------------+
|    USA|1896|          20|1.6666666666666667|
|    GER|1896|          30|               2.5|
|    GBR|1896|           8|1.1428571428571428|
|    FRA|1896|          11|             1.375|
|    GRE|1896|           9|1.2857142857142858|
|    HUN|1896|           6|               1.0|
|    AUS|1896|           3|               1.0|
|    AUT|1896|           5|               1.0|
|    DEN|1896|           6|               1.0|
|    SUI|1896|           3|               1.0|
|    SWE|1900|           6|               3.0|
|    USA|1900|          65|2.4074074074074074|
|    FRA|1900|         179| 3.314814814814815|
|    GER|1900|          27|               4.5|
|    NOR|1900|           9|               1.8|
|    GBR|1900|          68|2.8333333333333335|
|    HUN|1900|           5|               1.0|
|    SUI|1900|          21|               3.5|
|    NED|1900|          26| 4.333333333333333|
|    BEL|1900|          21|1.6153846153846154|
+-------+----+------------+------------------+
only showing top 20 rows

In [130]:
spark.stop()